@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://images.unsplash.com/photo-1461783818807-74d54914743e?  xlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80') no-repeat center center/cover; 
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: #fff;
}

.color{
    color: red;
}
.display-none{
    display: none;
}
.display{
    display: block;
}
.greeting {
    color: #fff;
}

section .left img{
    padding-top: 10px;
    width: 70%;
    flex: 0.2;
}
section header{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 230px; */
    align-items: top;
    background-color: rgb(123,104,238, 0.5);
    margin-bottom: 20px;
}
section header ul{
    list-style: none;
    display: flex;
    
}
section header ul li{
    padding: 10px;
}
.body-section {
    display: flex;
    width: 80%;
    margin: auto;
}
.body-section .text {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* flex: 0.6; */
}